@model SSASLogBase.Models.Refresh

@{
    ViewData["Title"] = "Refresh details";
}

<h1>Refresh details</h1>

<p style="color: red">
    Note: Times are displayed in UTC. Add 2 hours for CEST, or 1 hour for CET.
</p>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Database.SSASServer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Database.SSASServer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Database.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Database.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            Duration
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.EndTime.ToString() != "1/1/0001 12:00:00 AM")
                {
                    @Html.DisplayFor(model => model.Duration);
                }
                else
                {
                    @:--:--
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RefreshType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RefreshType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RefreshStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RefreshStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Messages)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Messages != null)
            {
                @foreach (Message message in Model.Messages)
                {
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            Type
                        </dt>
                        <dd class="col-sm-10">
                            @message.MessageType
                        </dd>
                        <dt class="col-sm-2">
                            Table
                        </dt>
                        <dd class="col-sm-10">
                            @if (message.Location != null)
                            {
                                @message.Location.SourceObject.Table
                            }
                        </dd>
                        <dt class="col-sm-2">
                            Text
                        </dt>
                        <dd class="col-sm-10">
                            @message.Text (@message.Code)
                        </dd>
                    </dl>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
