@model IEnumerable<SSASLogBase.Models.Refresh>

@{
    ViewData["Title"] = "Index";
}

<h1>Refresh logs</h1>

<p style="color: red">
    Note: Times are currently displayed in UTZ. (Add 2 hours for CEST.)
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Database.SSASServer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Database.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefreshStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @{
                    if (item.EndTime.ToString() != "1/1/0001 12:00:00 AM") {
                        @Html.DisplayFor(modelItem => item.EndTime);
                    } else
                    {
                        @:--:--
                    }
                }
            </td>
            <td>
                @{
                    if (item.EndTime.ToString() != "1/1/0001 12:00:00 AM")
                    {
                        @Html.DisplayFor(modelItem => item.Duration);
                    }
                    else
                    {
                        @(DateTime.Now - item.StartTime + " and counting");
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Database.SSASServer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Database.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefreshStatus)
            </td>
            <td>
                <a href="refreshes/details/@item.ID?server=@item.Database.SSASServer.Name&model=@item.Database.Name">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
