@model IEnumerable<SSASLogBase.Models.Refresh>

@{
    ViewData["Title"] = "Index";
}

<h1>Refresh logs</h1>

@*The timezone selector*@
<div class="float-right">
    <form class="form-inline mb-2">
        <div class="form-group">
            <label for="TZSelector" class="">Timezone&nbsp;</label>
            <select id="TZSelector" class="custom-select form-inline">
                <option value="local">Local</option>
                <option value="UTC" selected>UTC</option>
            </select>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Database.SSASServer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Database.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefreshStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="time" aria-valuetext="@Html.DisplayFor(modelItem => item.StartTime)">@Html.DisplayFor(modelItem => item.StartTime)</td>
            <td class="time" aria-valuetext="@Html.DisplayFor(modelItem => item.EndTime)">@Html.DisplayFor(modelItem => item.EndTime)</td>
            @*<td class="time">
                @{
                    if (item.EndTime.ToString() != "1/1/0001 12:00:00 AM")
                    {
                        @Html.DisplayFor(modelItem => item.EndTime);
                    }
                    else
                    {
                        @:--:--
                    }
                }
            </td>*@
            <td>
                @{
                    if (item.EndTime.ToString() != "1/1/0001 12:00:00 AM")
                    {
                        @Html.DisplayFor(modelItem => item.Duration);
                    }
                    else
                    {
                        @(DateTime.Now - item.StartTime + " and counting");
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Database.SSASServer.Name)
            </td>
            <td>
                <a href="?d=@item.Database.ID">
                    @Html.DisplayFor(modelItem => item.Database.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefreshStatus)
            </td>
            <td>
                <a href="refreshes/details/@item.ID">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div id="pager">
    @{
        int nextPage = ViewBag.page + 1;
        int prevPage = ViewBag.page - 1;
    }
    @if (ViewBag.page > 1)
    {
        <a href="/?p=@prevPage"><i class="fas fa-angle-left"></i></a>
    }
    Page @ViewBag.page / @ViewBag.numPages
    @if (ViewBag.page < ViewBag.numPages && ViewBag.numPages > 1)
    {
        <a href="/?p=@nextPage"><i class="fas fa-angle-right"></i></a>
    }
</div>

@section Scripts {
}